<!--
  Generated template for the RealizarReservaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Realizar Reserva</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-general" padding>


  <ion-row>
    <button ion-button class="btn" text-wrap [class.btnInmediato]="btnInmediato" col (click)="reservaInmediata(5)">Reserva
      Inmediata</button>
    <button ion-button class="btn" text-wrap [class.btnAnticipado]="btnAnticipado" col (click)="reservaAnticipada(5)">Reserva
      con anticipación</button>
  </ion-row>


  <form *ngIf="btnInmediato" [formGroup]="myFormInmediato" (ngSubmit)="buscarConductores()">
    <ion-list>

        <ion-item>
            <ion-label floating>Tipo Vehiculo</ion-label>
            <ion-select formControlName="vehiculoReserva" [(ngModel)]="busqueda.vehiculoReserva" multiple="false">
                <ion-option *ngFor="let TipoVehiculo of TipoVehiculos" value="{{TipoVehiculo.nombre}}"><span style="white-space: normal !important">{{TipoVehiculo.nombre}}</span></ion-option>
              </ion-select>
          </ion-item>

      <ion-item>
        <ion-label floating>Dirección destino..</ion-label>
        <ion-input formControlName="direccion" [(ngModel)]="busqueda.direccion" type="text"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button block type="submit" [disabled]="!myFormInmediato.valid"> Buscar Conductores </button>
      </div>

    </ion-list>
  </form>

  <form *ngIf="btnAnticipado" [formGroup]="myFormAnticipado" (ngSubmit)="buscarConductores()">
    <ion-list>    


        <ion-item>
            <ion-label floating>Tipo Vehiculo</ion-label>
            <ion-select formControlName="vehiculoReserva" [(ngModel)]="busqueda.vehiculoReserva" multiple="false">
                <ion-option *ngFor="let TipoVehiculo of TipoVehiculos" value="{{TipoVehiculo.nombre}}"><span style="white-space: normal !important">{{TipoVehiculo.nombre}}</span></ion-option>
              </ion-select>
          </ion-item>

      <ion-item>
        <ion-label floating>Dirección destino..</ion-label>
        <ion-input formControlName="direccion" [(ngModel)]="busqueda.direccion" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Hora búsqueda</ion-label>
        <!--<ion-input  formControlName="horaBusqueda" [(ngModel)]="busqueda.horaBusqueda"
          text-center type="time"></ion-input>-->
          <ion-datetime displayFormat="HH : mm" formControlName="horaBusqueda" [(ngModel)]="busqueda.horaBusqueda"></ion-datetime>
        </ion-item>

      <ion-item>
        <ion-label floating>Fecha</ion-label>
        <ion-datetime  formControlName="DiaBusqueda" [(ngModel)]="busqueda.DiaBusqueda" type="date"></ion-datetime>
      </ion-item>

      <div padding>
        <button ion-button block type="submit" [disabled]="!myFormAnticipado.valid"> Buscar Conductores </button>
      </div>

    </ion-list>
  </form>

</ion-content>