page-perfil-cliente {

    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        border: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
    }
      .wrap    {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
      @media (max-width: 320px) {
    
    .flex-container.wrap > div{
        width: 50%;
        max-width: 50%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
    
    }

    .btn{
        color: #488aff;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 64px;
        padding: 0 2.6rem;
    }

    .btn:hover{
        color: white;
    }
    .btnViajesUsuario{
        border-width: 1px;
        border-style: solid;
//        border-color: #488aff;
        color: white;
        background-color: #488aff;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 64px;
        padding: 0 2.6rem;        
    }

    .btnViajesConductor{
        border-width: 1px;
        border-style: solid;
//        border-color: #488aff;
        color: white;
        background-color: #488aff;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 64px;
        padding: 0 2.6rem;
    }

}
