<!--
  Generated template for the DetalletipoVehiculoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detalle tipo Vehiculo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-content *ngIf="TipoVehiculo">
    <ion-list>
     
      <ion-item>
          <ion-label color="primary" floating>Tipo Vehiculo</ion-label>
          <!-- para poder comunicar los datos con la bd, se usa el [(ngmodel)]="note.title"-->
       <ion-input type="text" [(ngModel)]="TipoVehiculo.nombre"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" floating>Descripción</ion-label>
          <ion-input type="textarea" [(ngModel)]="TipoVehiculo.descripcion"></ion-input>
      </ion-item>
   
    </ion-list>
    <div padding>
        <button ion-button block color="secondary" (click)="agregarTipoVehiculo()"> Guardar Tipo Vehiculo </button> <br><br><br>   
        <button *ngIf=" id != 0" ion-button block color="danger" (click)="borrarTipoVehiculo()"> Eliminar Tipo Vehiculo </button>
    </div>

</ion-content>
