page-admin-conductores {
    #SacarPuntero:hover{
        cursor: default
    }
    #SacarPuntero{
        min-height: 50px,
        cursor default
    }
    .sort-btn{
    line-height: 100%;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    }
}
