<!--
  Generated template for the PenalizacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Penalizacion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Tipo Penalizacion</ion-label>
    <ion-select (ionChange)="actualizarValoresForm(tipoPenalizacion.nombre)" [(ngModel)]="tipoPenalizacion.nombre">
      <ion-option text-wrap *ngFor="let tipoPenalizacion of tipoPenalizaciones" value="{{tipoPenalizacion.nombre}}"><span text-wrap> {{tipoPenalizacion.nombre}} </span></ion-option>
    </ion-select>
  </ion-item> 

  <ion-item>
    <ion-label floating>Descripción</ion-label>
    <ion-textarea disabled [(ngModel)]="tipoPenalizacion.descripcion"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label text-wrap floating>Describa el motivo de la Penalización (opcional)</ion-label>
    <ion-textarea text-wrap [(ngModel)]="tipoPenalizacion.descripcionAdicional"></ion-textarea>
  </ion-item>

  <ion-row>
    <button text-wrap ion-button col-5 offset-1 (click)="tomarFoto()">Toma una foto</button>
    <button text-wrap ion-button col-5 (click)="buscarFoto()">Seleccionar de galería</button>
  </ion-row>

  <div id="LoadedImages" *ngIf="fotos">
    <ion-item *ngFor="let item of fotos; let i = index">
      <ion-icon name="close-circle" (click)="borrarFoto(i)"></ion-icon>
      <img [src]="item" class="imagenes">
    </ion-item>

  </div>
  <ion-item>
    <ion-label col-6 floating> Total</ion-label>
    <ion-input disabled [(ngModel)]="tipoPenalizacion.monto" col-6 type="text"></ion-input>
  </ion-item>
  <br>
  <button ion-button full block color="secondary" (click)="registrarFotos()"> Registrar Penalizacion </button>


</ion-content>