<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic psages and navigation.
-->

<!--<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>-->

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar secondary>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-content>
    <ion-list>
    

      <ion-item ng-if="usuario">
      <ion-avatar item-start>
        <p><img class="foto" src="{{fotoPerfil}}"></p> 
      </ion-avatar>
      <h2>{{usuario?.nombreCompleto}}</h2>
     </ion-item>

    </ion-list>
    
    <ion-list>
      <button menuClose ion-item *ngFor="let feed of feeds" (click)="openFeed(feed)">
        {{feed.title}}
      </button>
    </ion-list>

    <ion-list>
    <a ion-button block clear (click)="iraRealizarReserva()" menuClose>
      Realizar Reserva
    </a>
    </ion-list>

    <ion-list-header>
      Sobre Mi
    </ion-list-header>

    <ion-list>
      <a ion-button block clear (click)="iraDatosPersonales()" menuClose>
        Datos personales
      </a>
      </ion-list>

      <ion-list>
        <a ion-button block clear (click)="iraHistoricoViajes()" menuClose>
            Historico viajes
        </a>
        </ion-list>

        <ion-list>
          <a ion-button block clear (click)="iraPenalizaciones()" menuClose>
              Penalizaciones
          </a>
          </ion-list>

          <ion-list>
              <a ion-button block clear (click)="iraRegistrarConductor()" menuClose>
                  Hazte conductor
              </a>
            </ion-list>
            
            <ion-list>
            <a ion-button block clear (click)="iraDatosConductor()" disabled="true" menuClose>
                Datos conductor
            </a>
          </ion-list>

                

    <ion-list>
      <a ion-button block clear (click)="CerrarSesion()" menuClose>
          Cerrar Sesión
      </a>
    </ion-list>

  </ion-content>

</ion-menu> 

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>