page-conductor-en-destino {
    #foto{
        border-radius: 50%;
        overflow: hidden;
        width: 200px;
        height: 200px;
        margin-left: 24%;
        margin-top:2%;
    }
    .input-wrapper, .item-inner{
        display: none;
    }
}
