<!--
  Generated template for the RegistrarConductorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrar Conductor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-label text-center> Foto Carnet Conducir</ion-label>
    <ion-row>
      <button ion-button col-5 offset-1 (click)="tomarFotoCarnet()">Toma una foto</button>
      <button ion-button col-5          (click)="buscarFotoCarnet()">Seleccionar de galería</button>
      <p><img *ngIf="fotoCarnet" class="foto" src="{{fotoCarnet}}"></p> 
    </ion-row>

    <ion-label text-center> Foto DNI (con conductor incluido en foto)</ion-label>
    <ion-row>
      <button ion-button col-5 text-wrap offset-1 (click)="tomarFotoDni()">Toma una foto</button>
      <button ion-button col-5 text-wrap         (click)="buscarFotoDni()">Seleccionar de galería</button>
    <p><img *ngIf="fotoDni" class="foto" src="{{fotoDni}}"></p> 
    </ion-row>
    <ion-list> 

    <ion-item>
        <ion-label floating>Tarifa por cuadra</ion-label>
        <ion-input type="number" [(ngModel)]="conductor.tarifa"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Restricción distancia máxima (en metros)</ion-label>
        <ion-input type="number" [(ngModel)]="conductor.distanciaMaxima"></ion-input>
    </ion-item>
    
    <ion-input type="text" hidden [(ngModel)]="conductor.estado" value="PendienteAprobacion"></ion-input>

    <ion-item>
        <ion-label floating>Tipo Vehiculo</ion-label>
        <ion-select [(ngModel)]="conductor.VehiculosHabilitado" multiple="true">
          <ion-option  *ngFor="let TipoVehiculo of TipoVehiculos">{{TipoVehiculo.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <button ion-button full (click)="guardarDatosConductor()">Guardar Datos</button>

</ion-list>

</ion-content>
