page-datos-personales-usuario {
    p{
        display: block;
        margin: auto;
        padding: 3%;
    }

    .foto{
        min-width: 150px;
        max-width: 150px;
        min-height: 150px;
        max-height: 150px;
        border-radius: 50%;
    }
}
